body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #242121;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
}

#login, #register {
    background-color: #1a1d20;
    padding: 1.5em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.5);
    margin: 0 10px;
    color: #ddd;
    width: 280px;
    height: 440px;
    display: flex;
    flex-direction: column;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-bottom: 5px;
    font-size: 0.9em;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
    width: calc(100% - 16px);
    margin-bottom: 15px;
    font-size: 0.9em;
    background-color: #2a2e32;
    color: #ddd;
}

input[type="submit"] {
    background-color: #232c35;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    align-self: center;
    width: 100%;
    margin-top: auto; /* Empuja el botón hacia abajo */
}

input[type="submit"]:hover {
    background-color: #286090;
}